.App {
  display: -webkit-flex;
  display: flex;
}

.Bio-header {
  width: 32%;
  padding: 1em;
}

.Project {
  flex: 1 1 auto;
  padding: 0;
  margin: 0;
}

a, a:visited {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 760px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
  .Bio-header {
    width: 64%;
  }
}
